@font-face {
    font-family: 'Dexa Pro';    
    src: url('/assets/src/css/fonts/dexaPro/DexaPro-Regular.eot');
    src: url('/assets/src/css/fonts/dexaPro/DexaPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/src/css/fonts/dexaPro/DexaPro-Regular.woff2') format('woff2'),
        url('/assets/src/css/fonts/dexaPro/DexaPro-Regular.woff') format('woff'),
        url('/assets/src/css/fonts/dexaPro/DexaPro-Regular.ttf') format('truetype'),
        url('/assets/src/css/fonts/dexaPro/DexaPro-Regular.svg#DexaPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Dexa Pro';
    src: url('/assets/src/css/fonts/dexaPro/DexaPro-Bold.eot');
    src: url('/assets/src/css/fonts/dexaPro/DexaPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/src/css/fonts/dexaPro/DexaPro-Bold.woff2') format('woff2'),
        url('/assets/src/css/fonts/dexaPro/DexaPro-Bold.woff') format('woff'),
        url('/assets/src/css/fonts/dexaPro/DexaPro-Bold.ttf') format('truetype'),
        url('/assets/src/css/fonts/dexaPro/DexaPro-Bold.svg#FONTSPRINGDEMO-DexaPro-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk';
    src: url('/assets/src/css/fonts/druk/Druk-Medium.eot');
    src: url('/assets/src/css/fonts/druk/Druk-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/src/css/fonts/druk/Druk-Medium.woff2') format('woff2'),
        url('/assets/src/css/fonts/druk/Druk-Medium.woff') format('woff'),
        url('/assets/src/css/fonts/druk/Druk-Medium.ttf') format('truetype'),
        url('/assets/src/css/fonts/druk/Druk-Medium.svg#Druk-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk';
    src: url('/assets/src/css/fonts/druk/Druk-Bold.eot');
    src: url('/assets/src/css/fonts/druk/Druk-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/src/css/fonts/druk/Druk-Bold.woff2') format('woff2'),
        url('/assets/src/css/fonts/druk/Druk-Bold.woff') format('woff'),
        url('/assets/src/css/fonts/druk/Druk-Bold.ttf') format('truetype'),
        url('/assets/src/css/fonts/druk/Druk-Bold.svg#Druk-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}