@keyframes stickAnim {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.site-header{
    @apply py-8;
    .sitelogo{
        @apply flex items-center justify-center;
        img{
            @apply w-40 md:w-64;
        }
    }
    &.IsSticky{
        @apply fixed mx-auto top-0 z-[100] bg-primary w-full py-2 shadow-2xl shadow-primary-2/75;            
        animation: stickAnim .3s ease-in-out;
        .sitelogo{
            img{
                @apply w-32;
            }
        }
    }
}


.site-content{
    @apply px-6 pt-8 pb-16 md:px-0;    
    .content__page{
        @apply container;
        &-wrap{
            @apply w-full lg:w-[75%] mx-auto bg-primary-3 text-primary text-center px-9 py-14 rounded-xl;
        }
    }
}

.search{
    @apply mx-auto md:w-1/2;
    .fecha_seleccionada{
        @apply hidden;
    }
    .flatpickr-calendar{
        @apply mx-auto my-8 shadow-none;

        .flatpickr-day{
            @apply border-none hover:bg-primary-3;
            &.flatpickr-disabled{
                @apply hover:bg-transparent;
            }
            &.today{
                @apply bg-primary-3 hover:!text-primary-2;
            }
            &.selected{
                @apply bg-primary-1 hover:!text-white;
            }
        }
    }
    input[type="submit"]{
        @apply w-full px-6 py-6 text-lg font-bold leading-none uppercase transition-all duration-500 ease-in-out border-none rounded-md cursor-pointer md:px-10 lg:py-4 lg:w-auto hover:bg-primary-1 bg-primary text-primary-3;
    }
}

.fecha{
    @apply mt-6 text-2xl font-bold uppercase -tracking-wider;
}

.error-message{
    @apply my-6 font-bold text-warning;
}

.menu{
    @apply grid gap-6 border-b border-dashed md:grid-cols-2 border-primary-1;
    &-card{
        @apply pb-6 text-center md:px-6;
        &:first-child{
            @apply border-dashed md:border-r border-primary-1;
        }
        h2, h3, h4, h5, h5{
            @apply text-xl uppercase;
        }
        ul{
            @apply m-0 list-none;
            li{
                @apply mb-4;
                &:last-child{
                    @apply mb-0;
                }
                strong{
                    @apply block text-lg;
                }
                p{
                    @apply mb-0;
                }
                i{
                    @apply block mt-2 text-base not-italic leading-4 text-primary-1;
                }
            }
        }
    }
}

.form{
    @apply pt-8 text-left;
    &-group{
        @apply flex flex-wrap gap-6 mb-6;
        &:last-child{
            @apply mb-0;
        }
        legend{
            @apply w-full mb-3 font-bold;
        }
        &.data{
            @apply flex-col gap-0;
            
            label{
                @apply text-xl font-normal cursor-pointer;
            }
            input{
                @apply w-auto accent-primary-1;
            }
        }
    }
    &-field{
        @apply w-full md:flex-1;
        label{
            @apply block text-sm font-bold text-primary-1;
        }
        input {
            @apply w-full text-xl font-normal border border-t-0 border-b rounded-none text-primary focus:border-primary border-x-0 border-primary-1 bg-primary-3;
        }
    }
    #opciones-menu-dia{
        @apply hidden transition duration-200 ease-in-out opacity-0;
    }
    button{
        @apply w-full px-6 py-6 text-lg font-bold leading-none uppercase transition-all duration-500 ease-in-out border-none rounded-md md:px-10 lg:py-4 lg:w-auto mt-9 hover:bg-primary-1 bg-primary text-primary-3;
    }
}

.site-footer{
    @apply absolute bottom-0 w-full p-4 bg-primary-2;
    .copyright{
        @apply m-0 text-sm text-center md:text-base lg:text-xl text-light;
    }
}


.page-template-template-confirmacion{
    .site-content{   
        @apply min-h-[80vh] 2xl:min-h-[81vh];
        h1{
            @apply mb-6 text-4xl md:text-5xl;
        }
        img{
            @apply mx-auto;
        }
        a{
            @apply px-10 py-3 text-lg font-bold leading-none uppercase transition-all duration-500 ease-in-out border-none rounded-md mt-9 hover:bg-primary-1 bg-primary text-primary-3;
        }
    }
}

.page{
    @apply bg-fixed bg-pattern bg-[length:400px];
}

.sites-grid{
    @apply flex flex-wrap justify-center gap-3 mt-9; 
    .site{
        @apply w-[calc(50%_-_12px)] md:w-[calc(33.333%_-_12px)];
        a{
            @apply block font-bold transition-all duration-300 ease-in-out hover:text-primary-2;
            img{
                @apply mb-2 transition-all duration-300 ease-in-out scale-95 w-[150px] mx-auto;
            }
            &:hover{
                img{
                    @apply scale-100;
                }
            }
        }
    }
}