@keyframes stickAnim {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.site-header{
    @apply py-8;
    &--wrap{
        @apply container relative flex items-center justify-center;
    }
    .sitelogo{
        @apply flex items-center justify-center gap-6;
        img{
            @apply w-40;           
        }
        a{
            &:nth-child(2){
                img{
                    @apply w-28;
                }
            }
        }
    }
    .menu{
        @apply absolute right-0 block m-0 list-none border-none;
        > .menu-item{
            @apply px-6 py-1 border rounded-md border-primary-1;
        }
        &-item{
            a{
                @apply block text-white hover:text-primary-3;
            }
            .sub-menu{
                @apply right-0 z-50 hidden transition-all duration-300 ease-in-out opacity-0 w-max;
                .menu-item{
                    @apply px-6 py-2 leading-none text-right bg-white;
                    &:first-child{
                        @apply mt-3 rounded-tl-md rounded-tr-md;
                    }
                    &:last-child{
                        @apply pb-3 rounded-br-md rounded-bl-md;
                    }
                    a{
                        @apply block text-sm leading-none uppercase hover:text-primary-2 text-primary-1 hover:scale-95;
                    }
                }
            }
            &:hover{
                .sub-menu{
                    @apply absolute block m-0 list-none opacity-100 top-full;
                }
            }
        }
    }

    &.IsSticky{
        @apply fixed mx-auto top-0 z-[100] bg-primary w-full py-2 shadow-2xl shadow-primary-2/75;            
        animation: stickAnim .3s ease-in-out;
        .sitelogo{
            img{
                @apply w-32;
            }
        }
    }
}


.site-content{
    @apply px-6 pt-8 pb-16 md:px-0;    
    .content__page{
        @apply container mb-16;
        &-wrap{
            @apply w-full lg:w-[75%] mx-auto bg-primary-3 text-primary text-center px-9 py-14 rounded-xl;
        }
    }
}

.search{
    @apply mx-auto md:w-1/2;
    .fecha_seleccionada{
        @apply hidden;
    }
    .flatpickr-calendar{
        @apply mx-auto my-8 shadow-none;

        .flatpickr-day{
            @apply border-none hover:bg-primary-3;
            &.flatpickr-disabled{
                @apply hover:bg-transparent;
            }
            &.today{
                @apply bg-primary-3 hover:!text-primary-2;
            }
            &.selected{
                @apply bg-primary-1 hover:!text-white;
            }
        }
    }
    input[type="submit"]{
        @apply md:!w-[calc(100%_-_80px)] px-6 py-6 text-lg font-bold leading-none uppercase transition-all duration-500 ease-in-out border-none rounded-md cursor-pointer md:px-10 lg:py-4 lg:w-auto hover:bg-primary-1 bg-primary text-primary-3;
    }
}

.fecha{
    @apply mt-16 text-2xl font-bold uppercase -tracking-wider;
}

.error-message{
    @apply my-6 font-bold text-warning;
}

.form{
    @apply pt-10 text-left;
    .menu{
        @apply grid gap-6 border-b border-dashed md:grid-cols-2 border-primary-1 mb-9;
        &-card{
            @apply pb-6 text-center md:px-6;
            &:first-child{
                @apply border-dashed md:border-r border-primary-1;
            }
            h2, h3, h4, h5, h5{
                @apply text-xl uppercase;
            }
            ul{
                @apply m-0 list-none;
                li{
                    @apply mb-4;
                    &:last-child{
                        @apply mb-0;
                    }
                    strong{
                        @apply block text-lg;
                    }
                    p{
                        @apply mb-0;
                    }
                    i{
                        @apply block mt-2 text-base not-italic leading-4 text-primary-1;
                    }
                }
            }
        }
    }
    &-group{
        @apply flex flex-wrap gap-6 py-3;
        &:last-child{
            @apply mb-0;
        }
        legend{
            @apply w-full font-bold;
        }
        &.data{
            @apply flex-col gap-0;
            
            label{
                @apply text-xl font-normal cursor-pointer;
            }
            input{
                @apply w-auto accent-primary-1;
            }
        }
    }
    &-field{
        @apply w-full md:flex-1;
        label{
            @apply block text-sm font-bold text-primary-1;
        }
        input {
            @apply w-full text-xl font-normal border border-t-0 border-b rounded-none text-primary focus:border-primary border-x-0 border-primary-1 bg-primary-3;
        }
    }
    #opciones-menu-dia{
        @apply hidden transition duration-200 ease-in-out opacity-0;
    }
    button{
        @apply w-full px-6 py-6 text-lg font-bold leading-none uppercase transition-all duration-500 ease-in-out border-none rounded-md md:px-10 lg:py-4 mt-9 hover:bg-primary-1 bg-primary text-primary-3;
    }
}

.site-footer{
    @apply bottom-0 w-full p-4 bg-primary-2;
    position: fixed;
    .copyright{
        @apply m-0 text-sm text-center md:text-base lg:text-xl text-light;
    }
}


.page-template-template-confirmacion{
    .site-content{   
        @apply min-h-[80vh] 2xl:min-h-[81vh];
        h1{
            @apply mb-6 text-4xl md:text-5xl;
        }
        img{
            @apply mx-auto;
        }
        a{
            @apply px-10 py-3 text-lg font-bold leading-none uppercase transition-all duration-500 ease-in-out border-none rounded-md mt-9 hover:bg-primary-1 bg-primary text-primary-3;
        }
    }
}

.page{
    @apply bg-fixed bg-pattern bg-[length:400px];
}

.sites-grid{
    @apply flex flex-wrap justify-center gap-3 mt-9; 
    .site{
        @apply w-[calc(50%_-_12px)] md:w-[calc(33.333%_-_12px)];
        a{
            @apply block font-bold transition-all duration-300 ease-in-out hover:text-primary-2;
            img{
                @apply mb-2 transition-all duration-300 ease-in-out scale-95 w-[150px] mx-auto;
            }
            &:hover{
                img{
                    @apply scale-100;
                }
            }
        }
    }
}

.um-um_account_id{
    .um-account-meta{
        @apply hidden;
    }
}

.um input[type=submit].um-button{
    @apply !bg-primary hover:!bg-primary-1 !uppercase !font-bold;
}

.um .um-button.um-alt{
    @apply !bg-primary-4 hover:!bg-light transition-all ease-in-out duration-500 !shadow-none !uppercase !font-bold;
}

.um-profile-photo,
.um-profile-edit {
    display: none;
}